.Formula{
  font-style: italic;
  text-align: center;
  font-weight: bold;
}
h1{
font-style: oblique;
text-align: center;
text-decoration: underline;
font-weight: bold;
}
h2{
font-weight: bold;
}
.column{
display: flex;
flex-direction: row;
margin-top: 10px;
}
 img{
width: 200px;
border-radius:10px;
height:200px; 

 }
p{
font-style: italic;
text-decoration: underline;
font-weight: bold;
}
